
@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay') url(../fonts/PlayfairDisplay-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat') url(../fonts/Montserrat-Regular.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#7209B7, 65%, #F72585);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: 1200px;
}

/* Form styles */
.form-container {
  margin: auto auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  position: relative;
  overflow: hidden;
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.1),
    0 0 5px #0A0A08,
    0 0 10px #0A0A08,
    0 0 20px #0A0A08,
    0 0 30px #0A0A08,
    0 0 40px #0A0A08;
}

.form-title {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5em;
}

.form {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4361EE;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}

.form-button:hover {
  background-color: #4CC9F0;
}

/* Form switch styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  transform: scale(1.0);
  animation: loginFadeIn 3s ease forwards;
}
@keyframes loginFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.form-switch-container {
  display: flex;
  margin-bottom: 20px;
}

.form-switch-button {
  margin-right: 1em;
  margin-left:  1em;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #4361EE;
  color: #ccc;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.form-switch-button-active {
  color: #f9f9f9;
  cursor: default;
  border: #f9f9f9;
  border-style: solid;
  border-width: 2px;
}

.neon-logo {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #f9f9f9;
  text-shadow:
    0 0 5px #000,
    0 0 10px #000,
    0 0 20px #000,
    0 0 30px #000,
    0 0 40px #000;
}

.form-and-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beer-image {
  width: 20%;
  height: 40%;
  padding: 10px;
  position: relative;
  display: inline;
}

i {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateX(-160%);
  padding-top: 10px;
}

#logInError,
#signUpError {
  display: inline;
  color: red;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

#forgot {
  position: relative;
  font-size: 0.85em;
  float: right;
  margin-top: 5px;
}

#labelpass {
  margin-bottom: 12px;
}

#confirmMessage {
  position: relative;
  font-size: 0.9em;
  float: right;
  margin-top: 10px;
}


.filled svg {
  fill: red;
}

.outline svg {
  stroke: black;
}
