* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(#7209B7, 65%, #F72585);
  height: 100vh;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20em;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  position: relative;
  overflow: hidden;
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.1),
    0 0 5px #0A0A08,
    0 0 10px #0A0A08,
    0 0 20px #0A0A08,
    0 0 30px #0A0A08,
    0 0 40px #0A0A08;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.forgot-password-title {
  font-family: PlayfairDisplay;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5em;
}

.forgot-password-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.forgot-password-input {
  border: solid black;
  background-color: #f5f5f5;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.forgot-password-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4361EE;
}

.forgot-password-button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-button:hover {
  background-color: #4CC9F0;
  transition: background-color 0.2s ease-in-out;
}

.forgot-password-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4361EE;
}

#wrapper
{
  align-content: left;
}

#backArrow
{
  text-decoration: underline;
}
